<%- include('partials/header') -%>
  <div class="container">
    <div id="map" style="width: 100%; height: 700px"></div>
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
              <p> <%=posts[i].lat%> </p>
            </a>
          </li>
         <% } %>
      </ul>
    </div>
    
  </div>

 
 
  <script>



// function initMap() {
//     var options = {
//       zoom: 2,
//       center: { lat: 42.3601, lng: -71.0589 }
//     }

//     //new map 
//     var map = new google.maps.Map(document.getElementById('map'), options)
    
//     // for (var i = 0; i < posts.length; i++) {
     

//       var marker = new google.maps.Marker({
//         position: {
//           lat: 35,
//           lng: 67
//         }, map: map
        
//       });
//     // }  
//     var dog = new google.maps.Marker({
//         position: {
//           lat: 65,
//           lng: 17
//         }, title: "no"
//       });

//       dog.setMap(map)
//   }


  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&v=weekly">
    </script>


  <%- include('partials/footer') -%>